.board {
	margin: 10px;
	align-self: flex-start;
	flex: 0 1 $board-width;
	min-height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: white;
	border-radius: 5px;
	box-shadow: $board-shadow;
	text-decoration: none;
	transition: 0.1s linear;
}

.board:hover {
	box-shadow: $board-hover-shadow;
	transform: scale(1.05);
}

.board-close-button {
	color: black;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 100;
}

.board-content {
	margin: auto;
	font-size: 24px;
	font-weight: bold;
	color: black;
}
