.footer-container {
	flex-shrink: 0;
	max-height: 30vh;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-right: 135px;
	overflow: hidden;
	transition: max-height 0.7s ease-out;
}

.footer-container-hidden {
	max-height: 0;
}

.footer-button {
	height: 100px;
	width: 100px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background-color: $green;
	box-shadow: $board-shadow;
	transition: 0.1s linear;
}

.footer-button:hover {
	box-shadow: $board-hover-shadow;
	transform: scale(1.05);
	transform: rotate(3deg);
}

.footer-image {
	transform: scale(0.45);
}

.footer-recycle-item {
	min-width: 150px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	box-shadow: $board-shadow;
	transition: 0.1s linear;
	margin: 5px 5px 5px 5px;
	cursor: default;
}

.footer-recycle-item--board {
	background-color: $green;
}

.footer-recycle-item--list {
	background-color: white;
}

.footer-recycle-item:hover {
	box-shadow: $board-hover-shadow;
	transform: scale(1.05);
	transform: rotate(1deg);
}

.footer-recycle-item-name {
	flex: 1;
	margin: 0 10px 0 10px;
	word-break: break-all;
}

.footer-recycle-item-name--board {
	color: white;
	text-shadow: $white-text-shadow;
}

.footer-recycle-item-name--list {
	color: black;
}

.footer-recycle-list-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow: auto;
}

.footer-recycle-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: 10px;
}

.footer-recycle-restore-button {
	transform: scale(1.3);
}

.footer-recycle-delete-button {
	transform: scale(0.8);
}

@media (max-width: $desktop-breakpoint) {
	.footer-button {
		height: 70px;
		width: 70px;
		border-radius: 70px;
	}
	.footer-container {
		padding-right: 100px;
	}
}
