.header {
	// height: 100px;
	flex-basis: 100px;
	width: 100px;
	align-self: center;
	background-image: url('/logo.png');
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: 50%;
}
// .header-image {

// }
