.header {
	height: 80px;
	width: 80px;
	align-self: center;
	background-image: url('/logo.png');
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: 50%;
}

@media (max-width: $desktop-breakpoint) {
	.header {
		display: none;
	}
}
