.listsList-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 20px;
}

.listsList-header-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.listsList-header {
	all: unset;
	font-size: 30px;
	color: white;
	background-color: $green;
	text-shadow: $white-text-shadow;
	padding: 25px 0px;
	margin-right: 20px;
	flex: 0 1 $board-width;
	text-align: center;
	box-shadow: $board-shadow;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.1s linear;
}

.listsList-header:hover {
	box-shadow: $board-hover-shadow;
	transform: scale(1.05);
}

.listsList-body {
	padding: 20px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
