.task-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.task-container-in_progress {
	background-color: $green-off;
	box-shadow: $task-in_progress-shadow;
}

.task-container-in_progress:hover {
	box-shadow: $task-in_progress-hover-shadow;
}

.task-container-done {
	background-color: $light-violet;
	box-shadow: $task-done-shadow;
}

.task-container-done:hover {
	background-color: $light-violet;
	box-shadow: $task-done-hover-shadow;
}

.task-title {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: 600;
	margin: 0 10px;
}

.task-title_done {
	text-decoration: line-through;
}

.task-checkbox-button {
	color: black;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.task-close-button {
	color: black;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: $desktop-breakpoint) {
	.task-container {
		padding: 5px;
	}
	.task-title {
		font-size: 12px;
	}
	.task-close-button {
		width: 12px;
		font-size: 12px;
	}
	.task-checkbox-button {
		width: 12px;
		font-size: 12px;
	}
}
