* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $white-off;
	box-sizing: border-box;
}

[class$='-button'] {
	cursor: pointer;
	user-select: none;
}

[className$='-button']:disabled {
	cursor: default;
}
