* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $white-off;
}

[class$='-button'] {
	cursor: pointer;
	box-shadow: 0 0 2px 3px $gray-shadow;
	border-radius: 3px;
}

[className$='-button']:disabled {
	cursor: default;
}
