// Colors
// $black: #0f1225;
$white-off: #f4f4f5;
$green: #9fe7a4;
$gray-shadow: #b6b6b6;
$font-gray: #777777;
$font-black: #000000;
// Font Size
// $font-size-xl: 2.5rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
